<section class="vh-100" style="background-image: url(assets/background.jfif);background-size: 100% auto;">
  <div class="container py-5 h-100" >
    <div class="row d-flex justify-content-center align-items-center h-100" >
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;background-color: lightgray;">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Login Required</h3>
            <img src="/assets/ironcladlogo.png" alt="image">
            <button class="btn btn-primary btn-lg btn-block mt-lg-5" type="submit" (click)="login()">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
